.footer {
    background: #000;
    opacity: .5;
    border-radius: 8px;
    padding: .5rem;
    width: fit-content;
    position: fixed;
    left: 16px;
    bottom: 16px;
    backdrop-filter: blur(8px);
}