* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    color: #fff;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.app {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
    

}

