
/*Aqui tenemos todos los estilos de nuestro componente*/
.tw-follow-card {
    color: #fff;
    display: flex;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tw-follow-card-header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.tw-follow-card-info {
    display: flex;
    flex-direction: column;
}
.tw-follow-card-infoUserName {
    opacity: .6;
}
.tw-follow-card-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.tw-follow-card button {
    height: 30px;
    width: 80px;
    margin-left: 16px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

